.herosec {
  width: 100%;
  min-height: 75vh;
  background: rgba(13, 13, 13, 0.76);
  background-image: url("/images/bgHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacityy {
  width: 100%;
  min-height: 75vh;
  background: #000000be;
  padding: 20px 0;
}
.cards {
  min-height: 80%;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  height: 150px;
  width: 320px;
  color: #fff;
  padding: 0 8px;
  border-radius: 10px;
  border: solid rgb(122, 122, 122) 1px;
  display: flex;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(9px);
}
.card_img {
  height: 80px;
  width: 80px;
  opacity: 1;
  background: #00fff2;
  border: solid red 1px;
  border-radius: 50%;
  /* background-image: url("../images//bgHero.png"); */
  /* background-position: center; */
  /* background-size: cover; */
}
.card_img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.card_body {
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card_title {
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 800;
}
.card_para {
  letter-spacing: 1px;
  font-size: 12px;

}
.card_btn {
  display: flex;
  justify-content: end;
}
.card_btn button {
  background: #ff0000;
  color: #fff;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  opacity: 1;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.card_btn button:hover {
  transition: all 0.3s ease-in;
  background: #ff3c3cbd;
  cursor: pointer;
}
